<!-- <div class="content-maps" ng-if="!bureauxdevoteelectoraux2026.parameters['refine.num_bureau']"> -->
<div class="content-maps">
    <ods-map 
        no-refit="false" 
        scroll-wheel-zoom="false" 
        basemap="jawg.light" 
        style="height: 100%;">
            <ods-map-layer 
                context="bureauxdevoteelectoraux2026" 
                refine-on-click-context="[resultatsmunicipales2026, bureauxdevoteelectoraux2026]"
                refine-on-click-resultatsmunicipales2026-map-field="num_bureau"
                refine-on-click-resultatsmunicipales2026-context-field="num_bureau"
                refine-on-click-resultatsmunicipales2026-replace-refine="true"
                color="rgb(101, 167, 11)"
                picto="dot" 
                show-marker="false" 
                display="categories" 
                shape-opacity="0.5" 
                point-opacity="1" 
                border-color="#19630A" 
                border-opacity="1" 
                border-size="1" 
                border-pattern="solid" 
                size="7"></ods-map-layer>
    </ods-map>
</div>

<!-- <div class="content-maps" ng-if="bureauxdevoteelectoraux2026.parameters['refine.num_bureau']">
    <ods-map 
        no-refit="false" 
        scroll-wheel-zoom="false" 
        basemap="jawg.light" 
        style="height: 100%;">
            <ods-map-layer 
                context="bureauxdevoteelectoraux2026" 
                refine-on-click-context="[resultatsmunicipales2026, bureauxdevoteelectoraux2026]"
                refine-on-click-resultatsmunicipales2026-map-field="num_bureau"
                refine-on-click-resultatsmunicipales2026-context-field="num_bureau"
                refine-on-click-resultatsmunicipales2026-replace-refine="true"
                color="rgb(101, 167, 11)"
                picto="dot" 
                show-marker="false" 
                display="categories" 
                shape-opacity="0.5" 
                point-opacity="1" 
                border-color="#19630A" 
                border-opacity="1" 
                border-size="1" 
                border-pattern="solid" 
                size="7"></ods-map-layer>
    </ods-map>
</div> -->