<ods-dataset-context context="resultatsmunicipales2026" resultatsmunicipales2026-dataset="resultats-municipales-2026">
    <section class="container-fluid">
        <%- include("components/header.ejs") %>
        <%- include("components/bdv-panel.ejs") %>
    </section>



</ods-dataset-context>